<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <style>
    body{
      height: 100%;
      background-color: azure;
    }
        .hero-container{
          align-self: center;
          width: 50%;
          height: 60%;
          margin-top: 10%;
        }
  </style>
  

<body>


  <center>
    <div class="hero-container">
      <h2>Welcome to <strong>TWAPP</strong></h2>
      <h4>Here you can predict</h4>
      <h4>if The tweet is a disaster or not</h4>
      <form action="/predict" method="POST">
        
              <div class="tarea">
                <textarea rows = "10" cols = "60" name = "tweet">
               </textarea>
              </div>
              <input type="submit" name="tweet">
            </form>
     
    </div>

  </center>
   

  



  

</body>

</html>